* {
    font-family: 'Josefin Sans', sans-serif;;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%230099ff' fill-opacity='1' d='M0,64L48,80C96,96,192,128,288,144C384,160,480,160,576,186.7C672,213,768,267,864,277.3C960,288,1056,256,1152,234.7C1248,213,1344,203,1392,197.3L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: bottom center;
}

.header {
    flex: 10%;
    display: flex;
    align-items: center;
}

.header img {
    width: 80px;
    margin-left: 20px;
}

h1 {
    margin-left: 5px;
    margin-top: 30px;
    font-size: 27px;
}

h2 {
    font-size: 23px;
}

.playground {
    display: flex;
    flex: 90%;
    gap: 100px;
    align-self: center;
    width: 900px;
    margin-top: 5vh;
}

.user-area, .enemy-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border-radius: 5px;
}

.cell {
    width: 40px;
    height: 40px;
    outline: 0.5px solid #958888;
    border-radius: 5px;
}

.user-board .cell {
    background-color: #e7f7ff;
}

.enemy-board .cell {
    background-color: #f6f5f5;
}